.side-bar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
    font-size: 28px;
}

.side-bar-tools{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 8px;
}

.side-bar-tools img{
    height: 2rem;
    width: 2rem;
}

.side-bar-tools a{
    text-decoration: none;
    color: black;
}

.top-bar img {
    height: 2rem;
    width: 2rem;
}

.top-bar button {
    background-color: white;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards {
    border-radius: 8px;
    height: 30rem;
    width: 100%;
    background-color: red;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
}

.tags-row {
    display: flex;
    align-items: center;
}

.tag {
    padding: 5px;
    background-color: blue;
    margin: 5px;
    border-radius: 8px;
}

.tag-grey {
    background-color: grey;
}

.cards h1,
.cards h6,
.cards p {
    margin: 4px 0; /* default is usually larger */
}

.search-bar label {
    display: none;
}

.search-bar input {
    width: 27rem;
    border: none;
    outline: none;
}

.search-bar {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    gap: 8px;
}

.top-right-bar {
    display: flex;
    padding: 5px 10px;
    gap: 8px;
}
